@page "/place/list"
@using ArborFamiliae.Domain.Places
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@inject PlaceService PlaceService
@inherits BasePageComponent

<h3>@Loc["Places"]</h3>


<TwoRowLayout>
    <Row1>
        <SfToolbar>
            <ToolbarItems>
                <ToolbarItem Text="@Loc["Add"]" PrefixIcon="bi bi-plus-lg" OnClick="AddPlace"></ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
    </Row1>
    <Row2>
        <SfTreeGrid @ref="TreeGrid" DataSource="_places" IdMapping="Id" ParentIdMapping="ParentPlaceId" TreeColumnIndex="0">
            <TreeGridSelectionSettings Mode="SelectionMode.Row" Type="SelectionType.Single"></TreeGridSelectionSettings>
            <TreeGridEvents TValue="PlaceListModel" OnRecordDoubleClick="RowDoubleClick"></TreeGridEvents>
            <TreeGridColumns>
                <TreeGridColumn Field="@nameof(PlaceListModel.Name)"></TreeGridColumn>
                <TreeGridColumn Field="@nameof(PlaceListModel.ArborId)" HeaderText="ID"></TreeGridColumn>
                <TreeGridColumn Field="@nameof(PlaceListModel.Code)" HeaderText="Code"></TreeGridColumn>
                <TreeGridColumn Field="@nameof(PlaceListModel.Type)" HeaderText="Type"></TreeGridColumn>
            </TreeGridColumns>
        </SfTreeGrid>
    </Row2>
</TwoRowLayout>

@code {

    SfTreeGrid<PlaceListModel> TreeGrid;

    private List<PlaceListModel> _places;
    
    protected override async Task OnInitializedAsync()
    {
        _places = await PlaceService.GetAllPlaces();
    }

    private void AddPlace()
    {
        NavigationManager.NavigateTo("/place/add");
    }

    private void RowDoubleClick(RecordDoubleClickEventArgs<PlaceListModel> obj)
    {
        NavigationManager.NavigateTo($"/place/{obj.RowData.Id}/edit"); 
    }

}